@import "./assets/scss/variables";

.singleMusic {
  display: flex;
  flex-direction: column;
  .backButton{
    max-width: 200px;
    width: 100%;
    padding: 0;
    border: none;
    background-color: inherit;
    color: $gold;
    margin: 20px 0;
  }
}

.info{
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  .label{
    color: $series;
    margin-bottom: 20px;
  }
  .item{
    margin: 10px 0;
  }
}